{% include header.html %}
<meta name="viewport" content="width=device-width">

<!-- build:js scripts/vendor/modernizr.js -->
<script src="/_bower_components/modernizr/modernizr.js"></script>
<!-- endbuild -->

<!--[if lt IE 9]>
<!-- build:js scripts/vendor/respond.js -->
<script src="/_bower_components/respond/src/respond.js"></script>
<!-- endbuild -->
<![endif]-->

</head>
<body>
    {% include nav.html %}

    {{ content }}

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

    <!-- build:js(app) /js/vendor.js -->
    <script src="/_bower_components/jQuery/dist/jquery.js"></script>
    <!-- endbuild -->
    
    <!-- build:js(app) /js/scripts.js -->
    <script src="/js/main.js"></script>
    <!-- endbuild -->
{% include footer.html %}
