        <footer class="footer">
            <div class="wrapper">
                <p class="contact">
                    <a href="mailto:richard@richardwestenra.com" target="_blank"><i class="icon-mail"></i> richard@richardwestenra.com</a>
                    <a href="http://twitter.com/richardwestenra" target="_blank"><i class="icon-twitter"></i> @richardwestenra</a>
                </p>
                <p class="legal">
                  <a href="/privacy">Privacy policy</a>
                  <span><b>&copy;</b> Copyleft: All wrongs reserved</span>
                </p>
            </div>
        </footer>
    </div>
</body>
</html>
