<div class="social social-likes social-likes_vertical social-likes_notext" data-url="{% if page.socialUrl %}{{page.socialUrl}}{% else %}{{site.liveUrl}}{{page.permalink}}{% endif %}" data-title="{% if page.socialTitle %}{{page.socialTitle}}{% else %}{{page.title}}{% endif %}">
  <a class="facebook" href="#" title="Share link on Facebook">Facebook</a>
  <a class="twitter" href="#" title="Share link on Twitter" data-via="richardwestenra"{% if page.tweet %} data-title="{{page.tweet}}"{% endif %}>Twitter</a>
  <a class="plusone" href="#" title="Share link on Google+">Google+</a>
  {% if page.socialImg %}<a class="pinterest" href="#" title="Share image on Pinterest" data-media="{{site.liveUrl}}{{page.socialImg}}">Pinterest</a>{% endif %}
  {% if page.embed %}<a class="embedLink" href="#" title="Embed link on your website"><span class="social-likes__button">Embed</span></a>{% endif %}
</div>

<script src="{{site.baseurl}}assets/js/social-likes.js"></script>
<script>
$(function(){
	//--- Reformat counter share number ---//
	$('.social-likes').delay(999).fadeIn(400,function(){
		$(this).addClass('piano');
	}).socialLikes().on('counter.social-likes',function(e,s,n){
	  	if(n>0) $('.social-likes__counter_'+s).text(prettyNumbers(n));
	});
});
</script>
