//--- Post typography etc ---//

.default {
    h1 { font-size: 3em; }
    h2 { font-size: 2em; }
    h3 { font-size: 1.5em; }
    h4 { font-size: 1.3em; }
    h5 { font-size: 1.2em; }
    h6 { font-size: 1.1em; }
    h1,h2,h3,h4,h5,h6 {
        margin: 2em 0 0.5em;
    }
    .postHeader {
        font-size: 2.4em;
        margin: 1em 0 0;
    }
    .meta {
        margin: 0.5em 0 1.3em;
    }
}
.post {
    img {
        max-width: 100%;
        height: auto;
    }
}

//--- Buttons ---//

.btn {
    cursor: pointer;
    background: lighten($c_primary,5%);
    display: inline-block;
    white-space: nowrap;
    color: $c_bg;
    text-decoration: none;
    border-radius: 4px;
    padding: 6px 14px 3px;
    @include display;
    font-size: 1.1em;
    text-shadow: 0 1px 1px #000;
    i {
        font-size: 0.8em;
        position: relative;
        top: -0.1em;
    }
    &:hover, &:focus {
        background: lighten($c_primary,10%);
        color: $c_opposite;
        box-shadow: 0 -3px 0 rgba(#000,0.2) inset;
    }
    &:active {
        transform: translateY(1px);
    }
}



//--- Markup formatting ---//
.post {
    // standard
    .highlight, pre, code {
        border: 1px solid #ddd;
        background-color: #fff;
        border-color: rgba(#000,0.1);
        background-color: rgba(#fff,0.7);
        border-radius: 3px;
    }
    pre {
        padding: 0 0.4em;
    }
    code {
        padding: 0.2em 0.3em;
    }
    .highlight pre, .highlight code, pre code {
        background: none;
        border: none;
    }
    pre code {
        line-height: 1.2em;
        font-size: 0.95em;
        padding: 0 0.8em;
        display: block;
    }

    // terminal
    pre.terminal {
        border: 1px solid #000;
        background-color: #333;
        color: #FFF;
        code {
            background-color: #333;
        }
    }
}


//--- Legacy Wordpress formatting ---//

.aligncenter {
    display: block;
    margin: 3px auto 5px;
    text-align: center;
}
.alignleft {
    float:left;
    clear:left;
    margin:3px 10px 5px 0;
}
.alignright {
    float:right;
    clear:right;
    margin:3px 0 5px 10px;
}
.wp-caption, .caption {
    background-color: #fcfbf9;
    border: 1px solid #d6cfc4;
    border-radius: 3px;
    margin: 10px;
    padding: 4px;
    text-align: center;
    img {
        border: 0 none;
        margin: 0;
        padding: 0;
        border-radius:0;
    }
    .caption-text, .wp-caption-text {
        font-size: 11px;
        line-height: 17px;
        margin: 0;
        padding: 0 4px 5px;
    }
}
