---
title: "Case Study: Redesigning the Arcus mobile app"
description: 
permalink: arcus-redesign/
comments: true
social: true
socialTitle: 
socialDesc: 
socialImg: assets/social/arcus.jpg
featPosts: ["iss","dailymail","click"]
---
{% include header.html %}

<style>
.postHeader {
	margin-bottom: 0;
}
.subtitle {
	font-size: 1.2em;
	font-style: italic;
	margin: 0 0 1em;
}
.imgRow img {
	margin-bottom: 1em;
	border: 3px solid #fff;
}
@media (min-width: 600px) {
	.imgRow img {
		width: 31%;
		height: auto;
		margin-bottom: 5px;
	}
}
</style>

<!-- build:css({app,.tmp}) {{site.baseurl}}css/featherlight.css -->
<link rel="stylesheet" href="{{site.baseurl}}_bower_components/featherlight/release/featherlight.min.css">
<!-- endbuild -->

</head>
<body class="grey">
    {% include nav.html %}

	<main class="wrapper base">
		<article class="post">
			<h2 class="postHeader">Redesigning the Arcus mobile app</h2>
			<p class="subtitle">A very short case-study.</p>
			<p><a href="http://www.arcusweather.com/" target="_blank"><em>Arcus</em></a> is a hyper-local weather app for Android. Much like <a href="http://darkskyapp.com/" target="_blank"><em>Dark Sky</em></a> for iOS, it uses your phone's GPS to predict when it will rain or snow at your exact location, down to the minute. It's pretty sweet.</p>
			<p>Unfortunately the design isn't great:</p>
			<p class="clearfix imgRow original">
				<a href="{{site.baseurl}}img/arcus/old1.png" data-featherlight="image"><img class="alignleft" src="{{site.baseurl}}img/arcus/old1.png" alt="Arcus screenshot - original design" width="100%" height="" /></a>
				<a href="{{site.baseurl}}img/arcus/old2.png" data-featherlight="image"><img class="alignright" src="{{site.baseurl}}img/arcus/old3.png" alt="Arcus screenshot - original design" width="100%" height="" /></a>
				<a href="{{site.baseurl}}img/arcus/old2.png" data-featherlight="image"><img class="aligncenter" src="{{site.baseurl}}img/arcus/old2.png" alt="Arcus screenshot - original design" width="100%" height="" /></a>
			</p>
			<p>While the graphs are useful, the tightly-packed text and lack of an obvious visual hierarchy makes it difficult to scan information quickly. It has some great features though, so I started using it as my go-to weather app, while quietly hoping that Dark Sky would bring out an Android version. When that appeared less likely, I decided to suggest improvements for Arcus instead. One evening when I was feeling creative, I emailed Arcus's creator Kushan Jayatilleke, and offered help with redesigning the app. Kushan happily accepted. After a few hours of playing with the design, this was the result:</p>
			<p class="clearfix imgRow new">
				<a href="{{site.baseurl}}img/arcus/new1.png" data-featherlight="image"><img class="alignleft" src="{{site.baseurl}}img/arcus/new1.png" alt="Arcus screenshot - new design" width="100%" height="" /></a>
				<a href="{{site.baseurl}}img/arcus/new3.png" data-featherlight="image"><img class="alignright" src="{{site.baseurl}}img/arcus/new3.png" alt="Arcus screenshot - new design" width="100%" height="" /></a>
				<a href="{{site.baseurl}}img/arcus/new2.png" data-featherlight="image"><img class="aligncenter" src="{{site.baseurl}}img/arcus/new2.png" alt="Arcus screenshot - new design" width="100%" height="" /></a>
			</p>
			<p>I didn't spend a lot of time refining it because the project was pro-bono and unsolicited, so I'm still not completely happy with many aspects of the redesign. Ideally, I'd spend more time creating alternate versions and user-testing to see which aspects are might be confusing. However I'm fairly happy with the new design as it stands. I think that it simplifies the text-heavy interface, and makes it easier to pick out individual pieces of information at a glance.</p>
			<p>Kushan was happy with the new layout and began revising the app's design over subsequent weeks. While he didn't implement every aspect of my design, he did use many of my suggestions, and I think the app is easier to use and more visually-appealing as a result.</p>
		</article>
	</main>

{% include footerJS.html %}
<!-- build:js(app) {{site.baseurl}}js/vendor/featherlight.js -->
<script src="{{site.baseurl}}_bower_components/featherlight/src/featherlight.js"></script>
<!-- endbuild -->
{% include footer.html %}
