---
title: dogenerator
permalink: doge/
description: such doge generator, wow
social: true
socialTitle: dogenerator
socialDesc: such doge generator, wow
socialImg: img/doge/doge.jpg
---
{% include header.html %}

<!-- build:css({app,.tmp}) {{site.baseurl}}css/doge.css -->
<link rel="stylesheet" href="{{site.baseurl}}css/doge.css">
<!-- endbuild -->
</head>
<body>

{% include nav.html %}

<ul class="doge">
    <script id="wowTemplate" type="text/template">
        <li id="<%= id %>" class="wow"
            style="color:<%= c %>; margin-top:<%= mt %>%; margin-left:<%= ml %>%; display: none;"
        >
            <%= text %>
        </li>
    </script>
</ul>
<form id="suchForm">
    <h2><a href="#" class="makeDoge active">make your own!</a></h2>
    <input type="text" id="suchInput" placeholder="Separate words by comma.  e.g. such, doge, wow, excite" />
    <input type="submit" value="Go" class="submit">
    <span class="url"></span>
</form>

<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
{% include footerJS.html %}
<!-- build:js(app) {{site.baseurl}}js/doge.js -->
<script src="{{site.baseurl}}js/doge.js"></script>
<!-- endbuild -->

{% include footer.html %}
