---
layout: default
title: Richard Westenra | Web designer &amp; front-end developer
id: home
---

<main class="home wrapper">
	<div class="leftCol">

		<div class="banner">
			<h2><span class="line1">Good design</span> <span class="line2">speaks</span> <strong>volumes</strong></h2>
		</div>

		<section id="about" class="homeSection about">
			<h3>Hello there!</h3>
			<p>I'm Richard. I make websites, data-visualisations, interactives and web-apps.</p>
			<p>I reckon that if something's worth doing then it's worth doing right. Each of my websites is finely crafted to a high standard. Before a single pixel is published, it must pass an exacting series of tests: First, I polish every design in Photoshop until it shines with an unholy burning light. Then I hand-code the site using only the finest HTML ingredients, sprinkling it with a light garnish of CSS and JavaScript.  Finally, each pixel must undergo a gruelling fitness regimen to shave off those unwanted bytes, saving precious seconds of download time. Only then is the site ready to be served piping hot to your browser. Yes, I know that my metaphors don't make sense. Nevermind that.</p>
			<p>My primary expertise is in web design, front-end development, web standards, usability, SEO and content editing, and my preferred tools are Photoshop, HTML5, CSS3, JavaScript, WordPress and Grunt.</p>
			<p>Originally from New Zealand, I'm currently living in London and happily employed at <a href="http://www.distilled.net" target="_blank">Distilled</a>. When I'm not designing the web I can be found skiing, unicycling, and occasionally attempting to juggle.</p>
			<p><a class="btn" href="mailto:richard@richardwestenra.com" title="Send me an email!" target="_blank"><i class="icon-mail"></i> Get in touch</a></p>
		</section>

		<section id="blog" class="homeSection blog">
			<h3><a href="{{site.baseurl}}blog" title="Browse blog archive">Articles &amp; things</a></h3>
			<ul>
				{% for post in site.data.blog %}{% if post.featured %}
					<li><a class="thumb" href="{{site.baseurl}}{{ post.url }}"><img src="{{site.baseurl}}img/blogThumbs/{{ post.img }}" alt="{{ post.name }}" width="279" height="92" /></a></li>
				{% endif %}{% endfor %}
			</ul>
			<p><a class="btn" href="{{site.baseurl}}blog/">Show all &raquo;</a></p>
		</section>

		<section id="portfolio" class="homeSection portfolio">
			<h3>Client work</h3>
			<ul>
				{% for item in site.data.portfolio %}
					<li>
						<a href="{{ item.url }}" target="_blank" style="background-image: url({{site.baseurl}}img/portfolioThumbs/{{ item.img }});">
							<span class="name"><em>{{ item.name }}</em> <cite>&ndash; {{ item.client }}</cite></span>
							<span class="year">{{ item.year }}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</section>
	</div>

	<section id="linkblog" class="homeSection linkblog">
		<h3><a href="{{site.baseurl}}linkblog/" title="Browse/search linkblog archive">Linkblog <i class="icon-search"></i></a></h3>
		<ul>
			{% for link in site.data.linkblog %}{% if forloop.index <= 22 %}
				<li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a> {% if link.desc %} &ndash; {{ link.desc }}{% endif %}</li>
			{% endif %}{% endfor %}
		</ul>
		<p><a href="{{site.baseurl}}linkblog/" class="btn">Read more &raquo;</a></p>
	</section>
</main>