---
layout: default
title: Linkblog | Richard Westenra
permalink: linkblog/
---
<main class="wrapper">
	<article class="post linkblog">
		<h2>Linkblog archive</h2>
		<form class="quicksearchForm" action="#">
			<input id="quicksearch" placeholder="Search list" type="text" name="search" value="" autofocus />
			<p class="noResults">No results found. Try something else?</p>
		</form>
		<ul class="lb">
			{% for item in site.data.linkblog %}
				<li><a href="{{ item.url }}">{{ item.name }}</a> {% if item.desc %} &ndash; {{ item.desc }}{% endif %}</li>
			{% endfor %}
		</ul>
	</article>
</main>
