---
title: 
description: 
---
{% include header.html %}

<!-- build:css({app,.tmp}) {{site.baseurl}}css/doge.css -->
<link rel="stylesheet" href="{{site.baseurl}}css/doge.css">
<!-- endbuild -->
<!-- build:css({app,.tmp}) {{site.baseurl}}css/creaturesOfTheDeep.css -->
<link rel="stylesheet" href="{{site.baseurl}}css/creaturesOfTheDeep.css">
<!-- endbuild -->
<!-- build:css({app,.tmp}) {{site.baseurl}}css/featherlight.css -->
<link rel="stylesheet" href="{{site.baseurl}}_bower_components/featherlight/release/featherlight.min.css">
<!-- endbuild -->
</head>
<body>

{% include nav.html %}

<main class="wrapper">
	<h2>This is a throwaway file.</h2>
	<p>It should be visible on the live site.</p>
	<p>In order to allow useminprepare to detect all of the CSS/JS used in the build, they must be added to this file. This gets scanned during build then deleted before deployment. It's the best <a href="https://github.com/yeoman/grunt-usemin/pull/382#issuecomment-61409135">workaround</a> that I could find.</p>
</main>

{% include footerJS.html %}
<!-- build:js(app) {{site.baseurl}}js/doge.js -->
<script src="{{site.baseurl}}js/doge.js"></script>
<!-- endbuild -->
<!-- build:js(app) {{site.baseurl}}js/vendor/socialLikes.js -->
<script src="{{site.baseurl}}_bower_components/social-likes/src/social-likes.js"></script>
<!-- endbuild -->
<!-- build:js(app) {{site.baseurl}}js/vendor/featherlight.js -->
<script src="{{site.baseurl}}_bower_components/featherlight/src/featherlight.js"></script>
<!-- endbuild -->

{% include footer.html %}