---
---

// bower:scss
// endbower
@import "variables", "mixins";
@mixin baseFont {
    font-family: "Comic Sans", "Comic Sans MS", cursive, Lucida Console, Monaco, monospace, sans-serif;
}

$c_base: #ff8;

.browsehappy {
    margin: 0.5em 0;
    background: #ccc;
    color: #000;
    padding: 1em;
    text-align: center;
}

body {
    @include baseFont;
    padding: 0;
    margin: 0;
}
.container {
    position: absolute;
    min-height: 100%;
    width: 100%;
}
.header {
    opacity: 0.15;
    transition: opacity ease .1s;
    &:hover {
        opacity: 1;
    }
}
.doge {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url($il + "doge/doge.jpg") 70% 0 no-repeat;
    background-size: cover;
    color: lime;
    overflow: hidden;
    .wow {
        // @include sansSerif;
        position: absolute;
        left: 50%;
        font-size: 1.1em;
        width: 200px;
        text-align: center;
        top: 50%;
        text-indent: -200px;
        @media screen and (min-width: 500px) and (min-height: 500px) {
            font-size: 2em
        }
        @media screen and (min-width: 1200px) and (min-height: 700px) {
            font-size: 2.5em;
        }
        transition: margin ease 0.5s;
    }
}
form {
    position: absolute;
    bottom: 60px;
    @media screen and (min-width: 980px) {
        bottom: 10px;
    }
    left: 2%;
    transition: all ease 1s;
    width: 96%;
    h2 {
        @include baseFont;
        display: inline-block;
        color: blue;
        margin: 0;
        font-weight: 400;
        line-height: 1em;
        position: relative;
        top: 3px;
        font-size: 1em;
        @media screen and (min-width: 500px) and (min-height: 500px) {
            font-size: 1.4em;
        }
        a {
            color: blue;
            padding: 5px 10px;
            border-radius: 3px;
            &.active{
                background-color: rgba($c_base,0.2);
                &:hover {
                    text-decoration: none;
                    background-color: rgba($c_base,0.5);
                }
            }
            &.inactive {
                color: cyan;
                cursor: default;
                text-decoration: none;
            }
        }
    }
    input {
        display: inline-block;
        margin: 10px 10px 0 0;
        padding: 10px 0;
        @include baseFont;
        border: none;
        background-color: #ffa;
        background-color: rgba($c_base,0.5);
        font-size: 0.9em;
        color: #f0f;
        outline: none;
        border-radius: 0;
        width: 0;
        box-sizing: border-box;
        max-width: 96%;
        @include input-placeholder {
            color: rgba(#f0f,0.5);
        }
        transition: all ease 0.2s;
        &.active {
            width: 400px;
            padding: 10px 18px;
        }
        &:focus {
            background-color: #ff5;
            background-color: rgba($c_base,0.8);
            width: 600px;
        }
    }
    .submit {
        display: none;
    }
    .url {
        display: inline-block;
        margin: 10px 10px 0 0;
        color: purple;
        background: rgba(#fff,0.7);
        padding: 3px 6px 4px;
        opacity: 0;
        transition: all ease 0.2s;
        font-size: 0.75em;
        &.active {
            opacity: 1;
        }
        a {
            color: blue;
        }
    }
}
.footer {
    display: none;
}
.social {
    @media only screen and (max-width: $m_large) {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
}
