<script id="config_tmpl" type="text/template">
	<div id="config">
		<div class="wrapper">
			<a class="configBtn" href="#" title="Close" role="button">&times;</a>
			<h3>Configure site options</h3>
			<h4>Change theme</h4>
			<ul id="styleSwitcher">
			   <li><a class="on" href="#" id="standard"><i class="icon-check-empty"></i> Standard</a></li>
			   <li><a href="#" id="geocities"><i class="icon-check-empty"></i> Geocities</a></li>
			</ul>
			<h4>Modify link behaviour</h4>
			<ul id="linkSwitcher">
				<li><a class="off" href="#"><i class="icon-check-empty"></i> Make external links open in a new tab/window</a></li>
			</ul>
		</div>
	</div>
</script>