        <footer class="footer">
            <div class="wrapper">
                <p class="contact">
                    <a href="mailto:richard@richardwestenra.com" target="_blank"><i class="icon-mail"></i> richard@richardwestenra.com</a> 
                    <a href="http://twitter.com/richardwestenra" target="_blank"><i class="icon-twitter"></i> @richardwestenra</a>
                </p>
                <p class="legal"><span>&copy;</span> Copyleft: All wrongs reserved</p>
            </div>
        </footer>
    </div>
</body>
</html>
