{% include config.html %}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- <script src="{{site.baseurl}}_bower_components/jquery/dist/jquery.js"></script> -->

<!-- build:js(app) {{site.baseurl}}js/main.js -->
<script src="{{site.baseurl}}_bower_components/slick.js/slick/slick.js"></script>
<script src="{{site.baseurl}}_bower_components/quicksearch/dist/jquery.quicksearch.js"></script>
<script src="{{site.baseurl}}_bower_components/konami/index.js"></script>
<script src="{{site.baseurl}}js/main.js"></script>
<!-- endbuild -->
{% if page.social %}
	{% include social.html %}
{% endif %}
{% if page.comments %}
	{% include disqus.html %}
{% endif %}