<header class="header" role="banner">
	<div class="wrapper">
		<h1 class="title"><a title="Home" href="/">richardwestenr<i class="icon-home"></i><span>a</span>.com</a></h1>
		<ul role="navigation">
			<li><a href="mailto:richard@richardwestenra.com" target="_blank"><i class="icon-mail"></i><span>Send me an email</span></a></li>
			<li><a href="http://github.com/richardwestenra" target="_blank"><i class="icon-github"></i><span>Fork me on Github</span></a></li>
			<li><a href="http://twitter.com/richardwestenra" target="_blank"><i class="icon-twitter"></i><span>Follow me on Twitter</span></a></li>
			{% comment %}
			<li><a href="#" role="button" class="configBtn"><i class="icon-cog"></i><span>Site settings</span></a></li>
			{% endcomment %}
		</ul>
	</div>
</header>