{% include ga.html %}

<div class="container">
	<header class="header" role="banner">
		<div class="wrapper">
			<h1 class="title"><a title="Home" href="/">richardwestenr<i class="icon-home"></i><span>a</span>.com</a></h1>
			<a href="#nav" class="mobile-only hamburger" role="button"><i class="icon-menu"></i><span>Menu</span></a>
			<ul id="nav" role="navigation">

				<li><a href="{{site.baseurl}}blog/"><i class="icon-comment"></i><span>Blog</span></a></li>
				<li><a href="{{site.baseurl}}portfolio/"><i class="icon-briefcase"></i><span>Portfolio</span></a></li>
				<li><a href="{{site.baseurl}}linkblog/"><i class="icon-link"></i><span>Linkblog</span></a></li>
				<li><a href="mailto:richard@richardwestenra.com" target="_blank"><i class="icon-mail"></i><span>Send me an email</span></a></li>
				<li><a href="http://github.com/richardwestenra" target="_blank"><i class="icon-github"></i><span>Fork me on Github</span></a></li>
				<li><a href="http://twitter.com/richardwestenra" target="_blank"><i class="icon-twitter"></i><span>Follow me on Twitter</span></a></li>

				<li><a href="#" role="button" class="configBtn"><i class="icon-cog"></i><span>Site settings</span></a></li>
			
			</ul>
		</div>
	</header>

    <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <noscript>
      <p class="browsehappy">For full functionality of this site it is necessary to enable JavaScript. Here are <a href="http://www.enable-javascript.com/" target="_blank">instructions how to enable JavaScript in your web browser</a>.</p>
    </noscript>