//--- Base HTML ---//
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    @include sansSerif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background: $c_bg;
    color: $c_base;
    font-size: 90%;
    @media (min-width: $m_small) {
        font-size: 100%;
    }
}
a {
    color: $c_primary;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
    color: $c_primary;
    @include display;
}
li, p, blockquote {
    line-height: 1.5em;
}
.wrapper {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    @media (min-width: $m_large) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    @media (min-width: $m_larger) {
        width: $m_large;
    }
}
.browsehappy {
    margin: 1em 0;
    background: #ccc;
    color: #000;
    padding: 0.5em 2em;
    text-align: center;
}
main {
    margin-top: 4em;
    margin-bottom: 1.5em;
    clear: both;
}



//--- Animations ---//

// @keyframes vibrate {
//     0% { transform: translate(0.5px, -1px) rotate(-0.05deg); }
//     10% { transform: translate(-0.5px, -1px) rotate(-0.05deg); }
//     20% { transform: translate(-1px, 0px) rotate(0.05deg); }
//     30% { transform: translate(0px, 1px) rotate(0deg); }
//     40% { transform: translate(0.5px, -0.5px) rotate(0.05deg); }
//     50% { transform: translate(-0.5px, 1px) rotate(-0.05deg); }
//     60% { transform: translate(-1px, 0.5px) rotate(0deg); }
//     70% { transform: translate(1px, 0.5px) rotate(-0.05deg); }
//     80% { transform: translate(-0.5px, -1px) rotate(0.05deg); }
//     90% { transform: translate(1px, 1px) rotate(0deg); }
//     100% { transform: translate(0, 0) rotate(0); }
// }
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

// Mixin classes: 
.display {@include display;}
.serif {@include serif;}
.sansSerif {@include sansSerif;}
.ir {@include ir;}
.hidden {@include hidden;}
.visuallyhidden {@include visuallyhidden;}
.focusable {@include focusable;}
.invisible {@include invisible;}
.clearfix {@include clearfix;}
