//-- Variables: --//

// Media Queries:
$m_smallest: 300px;
$m_smaller: 400px;
$m_small: 500px;
$m_tablet: 768px;
$m_medium: 960px;
$m_large: 1140px;
$m_larger: 1400px;
$m_huge: 1600px;

// Colours:
$brown: #302a22;
$beige: #e9e2d7;
$c_bg: $beige;
$c_base: #333;
$c_primary: $brown;
$c_opposite: #fff;

// Other:
$il: "../img/"; //image location
$fl: "../fonts/"; //font location



//--- @Font-face ---//

@mixin display {
    font-family: 'ChunkFiveRegular', 'Arial Black', sans-serif;
    font-weight: normal;
}
@mixin serif {
    font-family: serif;
}
@mixin sansSerif {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

}


//--- Base HTML ---//
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    @include sansSerif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background: $c_bg;
    color: $c_base;
    font-size: 90%;
    @media screen and (min-width: $m_small) {
        font-size: 100%;
    }
}
a {
    color: $c_primary;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
    color: $c_primary;
    @include display;
}
li, p, blockquote {
    line-height: 1.5em;
}
.wrapper {
    width: 90%;
    margin: 0 5%;
    @media only screen and (min-width: $m_large) {
        width: 80%;
        margin: 0 auto;
    }
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 1em 0;
    text-align: center;
}
main {
    padding: 50px 0;
    clear: both;
}



//--- Animations ---//

// @keyframes vibrate {
//     0% { transform: translate(0.5px, -1px) rotate(-0.05deg); }
//     10% { transform: translate(-0.5px, -1px) rotate(-0.05deg); }
//     20% { transform: translate(-1px, 0px) rotate(0.05deg); }
//     30% { transform: translate(0px, 1px) rotate(0deg); }
//     40% { transform: translate(0.5px, -0.5px) rotate(0.05deg); }
//     50% { transform: translate(-0.5px, 1px) rotate(-0.05deg); }
//     60% { transform: translate(-1px, 0.5px) rotate(0deg); }
//     70% { transform: translate(1px, 0.5px) rotate(-0.05deg); }
//     80% { transform: translate(-0.5px, -1px) rotate(0.05deg); }
//     90% { transform: translate(1px, 1px) rotate(0deg); }
//     100% { transform: translate(0, 0) rotate(0); }
// }
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}




//--- Mixins ---//

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}
@mixin svg($img){
    .no-js &,
    .no-svg & {
        background-image: url($il + $img + ".png"); //image location
    }
    .svg & {
        background-image: url($il + $img + ".svg"); //image location
    }
}


//--- Helper mixins (from h5bp): ---//

// For image replacement.
@mixin ir {display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent;    background-repeat: no-repeat; text-align: left; direction: ltr;line-height: 0; br {display: none;}}
// Hide from both screenreaders and browsers: h5bp.com/u
@mixin hidden {display: none !important; visibility: hidden;}
// Hide only visually, but have it available for screenreaders: h5bp.com/v
@mixin visuallyhidden {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p
// CAUTION! The .visuallyhidden class is included! If you want your object be both .visuallyhidden and .focusabe use only .focusable class.
@mixin focusable {
    @include visuallyhidden;
    &:active,&:focus{clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto;}
}
// Hide visually and from screenreaders, but maintain layout.
@mixin invisible {visibility: hidden;}
// Contain floats: h5bp.com/q
@mixin clearfix {*zoom:1;&:before,&:after{content:"";display:table;}&:after{clear:both;}}
