//--- font face ---//

// Chunkfive
@font-face {
    font-family: 'ChunkFiveRegular';
    src: url($fl + 'Chunkfive-webfont.eot');
    src: url($fl + 'Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url($fl + 'Chunkfive-webfont.woff') format('woff'),
         url($fl + 'Chunkfive-webfont.ttf') format('truetype'),
         url($fl + 'Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Fontello icon font
@font-face {
  font-family: 'fontello';
  src: url($fl + 'fontello.eot?65615821');
  src: url($fl + 'fontello.eot?65615821#iefix') format('embedded-opentype'),
       url($fl + 'fontello.woff?65615821') format('woff'),
       url($fl + 'fontello.ttf?65615821') format('truetype'),
       url($fl + 'fontello.svg?65615821#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
// Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need.
// Note, that will break hinting! In other OS-es font will be not as sharp as it could be
// @media screen and (-webkit-min-device-pixel-ratio:0) {
//   @font-face {
//     font-family: 'fontello';
//     src: url($fl + 'fontello.svg?97400357#fontello') format('svg');
//   }
// }
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  // opacity: .8;
 
  // For safety - reset parent styles, that can break glyph code
  font-variant: normal;
  text-transform: none;
     
  // fix buttons height, for twitter bootstrap
  line-height: 1em;
 
  // Animation center compensation - margins should be symmetric
  // remove if not needed
  margin-left: .2em;
 
  // you can be more comfortable with increased icons size
  // font-size: 120%;
 
  // Uncomment for 3D effect
  // text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
 
.icon-github:before { content: '\e800'; } // ''
.icon-mail:before { content: '\e801'; } // ''
.icon-home:before { content: '\e802'; } // ''
.icon-phone:before { content: '\e803'; } // ''
.icon-twitter:before { content: '\e804'; } // ''
.icon-facebook:before { content: '\e806'; } // ''
.icon-gplus:before { content: '\e807'; } // ''
.icon-pinterest:before { content: '\e808'; } // ''
.icon-linkedin:before { content: '\e809'; } // ''
.icon-code:before { content: '\e80a'; } // ''
.icon-cog:before { content: '\e80b'; } // ''
.icon-search:before { content: '\e80c'; } // ''
.icon-link:before { content: '\e80d'; } // ''
.icon-comment:before { content: '\e80e'; } // ''
.icon-briefcase:before { content: '\e80f'; } // ''
.icon-check:before { content: '\e810'; } // ''
.icon-check-empty:before { content: '\e811'; } // ''