
//--- @Font-face ---//

@mixin display {
    font-family: 'ChunkFiveRegular', 'Arial Black', sans-serif;
    font-weight: normal;
}
@mixin serif {
    font-family: serif;
}
@mixin sansSerif {
    font-family: 'Ubuntu', "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
//--- Mixins ---//

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}
@mixin svg($img){
    .no-js &,
    .no-svg & {
        background-image: url($il + $img + ".png"); //image location
    }
    .svg & {
        background-image: url($il + $img + ".svg"); //image location
    }
}


//--- Helper mixins (from h5bp): ---//

// For image replacement.
@mixin ir {display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent;    background-repeat: no-repeat; text-align: left; direction: ltr;line-height: 0; br {display: none;}}
// Hide from both screenreaders and browsers: h5bp.com/u
@mixin hidden {display: none !important; visibility: hidden;}
// Hide only visually, but have it available for screenreaders: h5bp.com/v
@mixin visuallyhidden {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p
// CAUTION! The .visuallyhidden class is included! If you want your object be both .visuallyhidden and .focusabe use only .focusable class.
@mixin focusable {
    @include visuallyhidden;
    &:active,&:focus{clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto;}
}
// Hide visually and from screenreaders, but maintain layout.
@mixin invisible {visibility: hidden;}
// Contain floats: h5bp.com/q
@mixin clearfix {*zoom:1;&:before,&:after{content:"";display:table;}&:after{clear:both;}}