//--- Social icons etc ---//
// Social buttons:
$ds: 30px;
$dl: 48px;
.social {
    display: none;
    text-align: center;
    clear:both;
    @media only screen and (min-width: $m_large) {
        position: fixed;
        left: 0;
        top: 10%;
    }
    @media only screen and (min-width: $m_large) and (min-height: $m_small) {
        top: 30%;
    }
    a {
        display: inline-block;
        height: $ds;
        margin: 0 5px;
        line-height: $ds * 1.1;
        color: #fff;
        text-shadow: 0 1px 1px rgba(#000,.1);
        transition: all ease .2s;
        vertical-align: middle;
        text-decoration: none;
        @extend .fontello-icon;
        @include sansSerif;
        font-size: 22px;
        position: relative;
        &:before {
            position: relative;
            z-index: 2;
        }
        &:after {
            content: '';
            width: $ds;
            height: $ds;
            position: absolute;
            top: 0;
            left: 0;
        }
        @media only screen and (max-width: $m_large) {
            &:hover {
                background: #444;
            }
        }
        @media only screen and (min-width: $m_large) {
            display: block;
            margin: 0;
            width: $dl;
            height: auto;
            padding: 9px 0 7px;
            line-height: $dl * 0.7;
            font-size: 26px;
            &:hover {
                width: $dl + 15;
            }
            &:after {
                display: none;
            }
        }
    }
    @media only screen and (min-width: $m_large) {
        &.piano a {
            animation: piano .2s ease 2 alternate;
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) { animation-delay: 0.1s * $i; }
            }
        }
    }
    &.social-likes_visible a {
    }
        .facebook, .social-likes__widget_facebook {
            @extend .icon-facebook;
            &:after {
                background-color: $facebook;
            }
        }
        .twitter, .social-likes__widget_twitter {
            @extend .icon-twitter;
            &:after {
                background-color: $twitter;
            }
        }
        .plusone, .social-likes__widget_plusone {
            @extend .icon-gplus;
            &:after {
                background-color: $gplus;
            }
            &:before {
                top: 0.05em;
            }
        }
        .pinterest, .social-likes__widget_pinterest {
            @extend .icon-pinterest;
            &:after {
                background-color: $pinterest;
            }
        }
        .embedLink {
            @extend .icon-code;
            &:after {
                background-color: $embed;
            }
            &:before {
                text-indent: -0.02em;
                top: -0.05em;
            }
        }
        @media only screen and (min-width: $m_large) {
            .facebook, .social-likes__widget_facebook {
                background-color: $facebook;
            }
            .twitter, .social-likes__widget_twitter {
                background-color: $twitter;
            }
            .plusone, .social-likes__widget_plusone {
                background-color: $gplus;
            }
            .pinterest, .social-likes__widget_pinterest {
                background-color: $pinterest;
            }
            .embedLink {
                background-color: $embed;
            }
        }

            .social-likes__button {
                @include visuallyhidden;
            }
            
            .social-likes__counter {
                float: right;
                font-size: 13px;
                line-height: $ds;
                margin: 1px 12px 1px 5px;
                @media only screen and (min-width: $m_large) {
                    display: block;
                    font-size: 12px;
                    margin: 0;
                    float: none;
                    line-height: 1em;
                }
                &.social-likes__counter_empty {
                    display: none;
                }
            }
}
@keyframes piano {
    from { width: $dl; }
    to { width: $dl + 20px; }
}
