//-- Variables: --//

// Media Queries:
$m_smallest: 300px;
$m_smaller: 400px;
$m_small: 500px;
$m_smallish: 600px;
$m_tablet: 768px;
$m_medium: 960px;
$m_large: 1140px;
$m_larger: 1400px;
$m_huge: 1600px;

// Colours:
$brown: #302a22;
$beige: #e9e2d7;
$c_bg: $beige;
$c_base: #333;
$c_primary: $brown;
$c_opposite: #fff;

// Social colours:
$facebook: #3b5998;
$twitter: #00aced;
$gplus: #dd4b39;
$linkedin: #007bb6;
$pinterest: #cb2027;
$embed: #555;

// Other:
$il: "/img/"; //image location
$fl: "/fonts/"; //font location