body {
	background:white;
}
	.header, .footer {background:#333;}
		.header a, .footer a {color:#fff;}
	main .wrapper {
		max-width:600px;
	}
/* Typography */
main, main p, main ul, main ol, main li {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#111;
	font-size:16px;
}
main a, main a:link {
	color:#000;
}
main a:visited {
	color:#03242e;
}
main a:hover, main a:focus, main a:active {
	color:#000;
}
main p a:hover, main p a:focus, main p a:active {
	text-shadow:0 0 2px #fff;
	background:#57bad7;
	background:rgba(255,255,255,0.3);
	border-radius:3px;
}
main a:hover img, main a:focus img, main a:active img {
	box-shadow:0px 1px 6px rgba(0,0,0,0.4);
}
main h2, main h3, main h4, main h5, main h6 {
	color:#fff;
}
.numberCircle {
	position:relative;
	height:54px;
	width:54px;
	background:#fff;
	border-radius:50px;
	color:#111;
	font-family:Georgia, "Times New Roman", Times, serif;
	box-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);
}
	.hash {
		font-size:15px;
		position:absolute;
		left:13px;
		top:10px;
	}
	.number {
		font-size:26px;
		position:absolute;
		left:24px;
		top:15px;
	}
::selection {background:#000; color:#0e9cc6;}

/* Formatting */
body {
	background:#0e9cc6 url(/img/creaturesOfTheDeep/waterBg.jpg) no-repeat center 43px;
}
	header,
	footer#bar {
		background:#0e0e0e;
	}
	header {
	}
		header h2,
		ul#social li.postNav a {
			color:#fff;
		}
		ul#social li.postNav a:hover,
		ul#social li.postNav a:focus {
			background-color:#0e9cc6;
			text-shadow:0 0 2px #000;
		}
		ul#nav li.navLogo a,
		ul#nav li a .icon,
		ul#social li a .icon,
		footer#bar a span.barIcon {
			background-image:url(/img/navSpriteBlackBlue.png);
		}
	.post {
		padding-top:108px;
	}
		main {
			padding:0;
			width:850px;
		}
			.postContent {
				position:relative;
			}
				#titleContainer {
					float:left;
					width:241px;
				}
					h3.postHeader {
						background:url(/img/creaturesOfTheDeep/title.png) no-repeat;
						width:241px;
						height:357px;
						margin:0;
						padding-bottom:25px;
					}
					.shark {
						display:block;
						margin:39px 0 0 35px;
						background:url(/img/creaturesOfTheDeep/shark.png);
						width:159px;
						height:65px;
						zoom:1;
					}
					.shark1 {opacity:0.7; filter: alpha(opacity = 70);}
					.shark2 {opacity:0.5; filter: alpha(opacity = 50);}
					.shark3 {opacity:0.3; filter: alpha(opacity = 30);}
					.shark4 {opacity:0.1; filter: alpha(opacity = 10);}
				#intro {
					float:right;
					width:474px;
					background:#20a3c9;
					background:rgba(255,255,255,0.08);
					border:1px solid #31a9cc;
					border:1px solid rgba(255,255,255,0.08);
					padding:30px;
					margin-top:100px;
					position:relative;
				}
					#crab {
						position:absolute;
						display:block;
						background:url(/img/creaturesOfTheDeep/crab.png);
						width:99px;
						height:50px;
						right:50px;
						top:-26px;
					}
					#intro p {
						font-size:17px;
					}
					#intro p span {
						float:left;
						display:block;
						font-size:56px;
						margin:12px 0px 0 0;
					}
			#mimicContainer {
				background-image: radial-gradient(35% 35%, circle closest-side, #53b7d5, #0e9cc6 100%);
				width:100%;
			}
				#mimic {
					margin-top:60px;
					background:url(/img/creaturesOfTheDeep/dash.png) left top repeat-x;
				}
					#mimicInner {
						background:url(/img/creaturesOfTheDeep/dash.png) 26px top repeat-y;
					}
						#mimic .numberCircle {
							top:-26px;
							position:absolute;
						}
						#mimic h4 {
							background:url(/img/creaturesOfTheDeep/mimicTitle.png);
							width:782px;
							height:62px;
							margin:0;
							position:absolute;
							right:0;
							top:30px;
						}
						#mimicText {
							padding:110px 0 0px 65px;
							width:300px;
							float:left;
						}
						#mimicVideo {
							float:right;
							padding-top:118px;
						}	
							#mimicVideo object {
								border:10px solid #fff;
								box-shadow:5px 15px 20px rgba(0,0,0,0.2); 
							}
						#mimicList {
							clear:both;
							padding:30px 0 40px 65px;
						}
							#mimicList ul {
							}
								#mimicList ul li {
									list-style:none;
									float:left;
									display:block;
									width:120px;
									padding:85px 0px 0px;
									margin:10px 22px 20px;
									background:url(/img/creaturesOfTheDeep/mimicShapes.png) no-repeat;
									background-color:#27a6cb;
									background-color:rgba(255,255,255,0.1);
									border-top:3px solid #91d1e4;
									border-top:3px solid rgba(255,255,255,0.5);
								}
									#mimicList ul li span {
										display:block;
										text-align:center;
										background:#65bfd9;
										background:rgba(255,255,255,0.3);
										text-transform:uppercase;
										font-size:12px;
										font-family:Arial, Helvetica, sans-serif;
										color:#333;
										font-weight:bold;
									}
								#mimicList ul li.snake {background-position:11px 0px; margin-left:0;}
								#mimicList ul li.lionfish {background-position:-106px 5px;}
								#mimicList ul li.stingray {background-position:-234px -5px;}
								#mimicList ul li.jellyfish {background-position:-355px -3px;}
								#mimicList ul li.flatfish {background-position:-485px 0; margin-right:0;}
								#mimicList ul li.starfish {background-position:8px -113px; margin-left:0;}
								#mimicList ul li.crab {background-position:-105px -121px;}
								#mimicList ul li.shell {background-position:-231px -122px;}
								#mimicList ul li.anemone {background-position:-356px -120px;}
								#mimicList ul li.mantis {background-position:-481px -122px; margin-right:0;}
			#barreleyeContainer {
				width:100%;
			}
				#barreleye {
					margin:-27px 0 0 -24px;
					background:url(/img/creaturesOfTheDeep/barreleye.png) left top no-repeat;
					padding-top:300px;
				}
					#barreleye .numberCircle {
						right:105px;
						top:62px;
						position:absolute;
					}
						#barreleye .numberCircle .number {
							top:17px;
						}
					#barreleyeText {
						column-count:2;
						column-gap:40px;
						padding:0 20px 50px 50px;
					}
						#barreleyeText p {
							color:#fff;
							font-size:15px;
						}
						#barreleyeText p span.biggen {
							float:left;
							display:block;
							font-size:49px;
							margin:12px 7px 0 0;
						}
						#barreleyeText p span.leften {
							margin-left:-9px;
						}
			#vampireContainer {
				width:100%;
				background:#021318;
			}
				#vampire {
					padding-top:40px;
				}
					#vampire .numberCircle {
						position:absolute;
						top:-26px;
					}
					#vampire h4 {
						display:block;
						width:744px;
						height:46px;
						margin:0px 0 0px 71px;
						background:url(/img/creaturesOfTheDeep/vampireSquid.png) 0 0 no-repeat;
						position:relative;
						z-index:2;
					}
					#vampireText {
						background:url(/img/creaturesOfTheDeep/vampireSquid.jpg) 0px 0px no-repeat;
						padding:30px 30px 30px 460px;
						z-index:2;
						position:relative;
						min-height:730px;
					}
						#vampireText p {
							color:#fff;
							text-shadow:1px 1px 0px #000;
						}
					#vampire span.stripe {
						position:absolute;
						display:block;
						width:52px;
						height:100%;
						top:0;
						background:#091a1f;
						z-index:1;
					}
					#vampire span.stripe1 {left:114px;}
					#vampire span.stripe2 {left:225px;}
					#vampire span.stripe3 {left:335px;}
			#snappingContainer {
				width:100%;
				background:url(/img/creaturesOfTheDeep/shrimpBg.jpg) 90% 0px no-repeat;
				padding:80px 0;
			}
				#snappingText {
					background:#138eb4;
					background:rgba(0,0,0,0.1);
					padding:20px 40px 30px 50px;
					margin:0px 0 0 29px;
					width:400px;
				}
					#snappingText .numberCircle {
						position:absolute;
						left:-26px;
						top:-26px;
					}
					#snappingText h4 {
						background:url(/img/creaturesOfTheDeep/snappingShrimp.png) 0px 0px no-repeat;
						margin:0;
						display:block;
						width:58px;
						height:609px;
						position:absolute;
						left:-29px;
						top:50px;
					}
					#snappingText p {
						color:#fff;
					}
			#immortal {
				width:850px;
				padding:25px;
				background:#a8ccd7;
				background-image: linear-gradient(bottom, #8FB3BE 0%, #C1E5F0 100%);
				transform: rotate(-2deg);
				filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3.98);
				margin-bottom:60px;
			}
				#immortal .numberCircle {
					position:absolute;
					right:45px;
					top:-15px;
				}
				#immortalText {
					float:left;
					width:483px;
				}
					#immortal h4 {
						width:483px;
						height:43px;
						background:url(/img/creaturesOfTheDeep/immortalJellyfish.png) 0 0 no-repeat;
						margin:0 0 10px;
					}
					#immortalText p {
						font-family: monospace;
						font-size:15px;
					}
				#immortal img {
					float:right;
					border:none;
					padding:0;
					background:none;
					border-radius:0;
				}
				#immortalQuote {
					float:right;
					background:#0f0809;
					color:#fff;
					margin:-1px 0 0;
					padding:10px 15px 15px;
					width:315px;
					font-size:14px;
					font-family: monospace;
				}
			#isopod {
				padding-top:210px;
				background:url(/img/creaturesOfTheDeep/isopodHeading.png) 0 0 no-repeat;
				margin-bottom:60px;
			}
				#isopod .numberCircle {
					position:absolute;
					top:4px;
					right:-26px;
				}
				#isopodText {
					column-count:2;
					column-gap:40px;
					clear:both;
				}
					#isopodText p {
						text-shadow:1px 1px 4px rgba(255,255,255,0.5);
					}
				#isopodImages {
					padding:20px 0;
					clear:both;
				}
					#isopodImages img {
						border:none;
						padding:5px;
						background:rgba(255,255,255,0.8);
					}
					#isopodImages a:hover img {
						background:#fff;
					}
			#anglerfish {
				margin-bottom:60px;
			}
				#anglerfish .numberCircle {
					position:absolute;
					right:0;
					top:0;
				}
				#anglerfishText {
					margin-right:-80px;
					background:url(/img/creaturesOfTheDeep/anglerfish.jpg) right top no-repeat;
				}
					#anglerfish h4 {
						width:424px;
						height:135px;
						background:url(/img/creaturesOfTheDeep/anglerfish.png) 0 0 no-repeat;
						margin:0 0 10px -30px;
					}
					#anglerfish p {
						font-family:"Lucida Console", Monaco, monospace;
						font-size:15px;
					}
					#afCol {
						column-count:2;
						column-gap:50px;
						padding-right:80px;
					}
			#plug {
				padding:15px;
				border-top:10px #0b7d9e solid;
				border-bottom:10px #0b7d9e solid;
			}
			main p.entry-meta {
				color:#063e4f;
				font-size:12px;
			}
			#commentsWrapper {
				padding:20px 30px;
				background:#57bad7;
				border:1px solid #8acfe3;
				width:auto;
				margin-bottom:40px;
			}
				#embed {
					border:1px #0B7D9E solid;
					color:#111;
					font-size:11px;
					font-family:monospace;
					border-radius:3px;
					padding:5px;
					width:550px;
					height:90px;
					display:block;
					margin:0 auto;
				}
				#commentsWrapper h3 {
					color:#111;
				}