//--- Main ---//

@import "base", "fontface", "typography", "syntax";

body {
}

#home {
    overflow: hidden;
    @include clearfix;
    h3 {
        font-size: 2em;
        margin: 0;
    }
}


//--- Config ---//
#config {
    background: #f8f8f8;
    box-shadow: inset 0 0 30px rgba(#000,0.1);
    display: none;
    position: relative;
    z-index: 2;
    .wrapper {
        padding: 1em 0;
        position: relative;
    }
    .configBtn {
        position: absolute;
        right: 0;
        top: 10px;
        font-size: 2.5em;
        text-decoration: none;
        color: #a00;
        font-weight: bold;
        transition: all ease .3s;
        &:hover {
            transform: rotate(90deg);
        }
    }
}



//--- Header ---//
.header {
    width:100%;
    background-color:$c_primary;
    z-index:10;
    height: 2.4em;
    position: relative;
    z-index: 2;
    .wrapper {
        @include clearfix;
    }
    a {
        color: $c_bg;
        text-decoration: none;
        &:hover {
            color: $c_opposite;
            background-color: rgba($c_opposite,0.05);
        }
    }
    h1 {
        font-size: 1.2em;
        margin: 0;
        line-height: 1em;
        float: left;
        margin-left: -0.5em;
        a {
            padding: 0.5em;
            display: block;
            i {
                display: none;
            }
            &:hover {
                padding-top: 0.51em;
                i {
                    display: inline-block;
                    width: 0.8em;
                    text-align: left;
                    font-size: 0.78em;
                    text-indent: -0.23em;
                    height: auto;
                }
                span {
                    display: none;
                }
            }
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        float: right;
        li {
            display: inline-block;
            a {
                padding: 0.5em 0.4em;
                display: inline-block;
                position: relative;
                span {
                    opacity: 0;
                    position: absolute;
                    transition: all ease .2s;
                    text-align: center;
                    background: $c_opposite;
                    color: $c_base;
                    padding: 0 8px;
                    right: -15px;
                    top: 35px;
                    box-shadow: 0 1px 2px rgba($c_primary,0.1);
                    pointer-events: none;
                    border-radius: 3px;
                    display: block;
                    white-space: nowrap;
                    font-size: 12px;
                    &:before {
                        $t: 6px;
                        content: '';
                        width: 0;
                        height: 0;
                        position: absolute;
                        right: 26px;
                        top: -$t;
                        border-style: solid;
                        border-width: 0 $t $t $t;
                        border-color: transparent transparent $c_opposite transparent;
                    }
                }
                &:hover span, &:focus span {
                    opacity: 1;
                    transform: translateY(10px);
                }
            }
        }
    }
}



//--- Banner ---//

.banner {
    text-align: center;
    padding: 0 0 30px;
    position: relative;
    z-index: 1;
    &:before {
        content: '';
        $d: 960px;
        width: $d;
        height: $d;
        background: url($il + 'home/radialStripes.svg');
        position: absolute;
        left: 50%;
        top: 150px - ($d/2);
        margin-left: $d/-2 + 30;
        z-index: -1;
        opacity: 0;
        transition: .8s ease opacity;
        animation: spin 10s infinite linear;
        pointer-events: none;
        .no-svg & {
            display: none;
        }
    }
    .gramaphone {
        display: block;
        margin: 0 auto 10px;
        max-width: 30%;
        height: auto;
        .no-svg & {
            display: none;
        }
    }
    h2 {
        margin: 0;
        font-size: 1.5em;
        @media screen and (min-width: $m_small){
            font-size: 2em;
        }
        @media screen and (min-width: $m_tablet){
            font-size: 3em;
        }
        font-size: 6vw;
        @media screen and (min-width: $m_large){
            font-size: 4em;
        }
        strong {
            display: block;
            font-size: 2.6em;
            font-weight: normal;
            text-transform: uppercase;
            line-height: 1em;
            transition: .2s ease font-size;
        }
    }
    &:hover {
        &:before {
            opacity: 0.4;
        }
        strong {
            // transform: scale(1.1);
            font-size: 2.7em;
            animation: vibrate .3s infinite alternate;
        }
    }
}


//--- Home sections ---//

.about, .work, .linkblog {
    position: relative;
    z-index: 1;
    margin-bottom: 4em;
}
.work {
    h4 {
        @include sansSerif;
        text-transform: uppercase;
        font-weight: bold;
        color: rgba($c_primary,0.7);
        margin: 1.5em 0 0.5em;
    }
    ul {
        margin: 0 0 2em;
    }
}
section.linkblog {
    ul {
        @media screen and (min-width: $m_small){
            column-count: 2;
            font-size: 0.9em;
        }
        @media screen and (min-width: $m_tablet){
            column-count: 3;
        }
        @media screen and (min-width: $m_large){
            column-count: 1;
        }
    }
    p {
        margin: 0;
        font-weight: bold;
        font-size: 0.9em;
    }
}
.linkblog {
    ul {
        list-style: none;
        margin: 1em 0 0;
        padding: 0;
        li {
            padding-left: 1em;
            margin: 0 0 1em;
            position: relative;
            display: inline-block;
            @media screen and (min-width: $m_large){
                display: block;
            }
            &:before {
                $t: 4px;
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                left: 0;
                top: 0.5em;
                transition: all ease .2s;
                border-style: solid;
                border-width: $t 0 $t $t;
                border-color: transparent transparent transparent $c_primary;
            }
            &:hover:before {
                left: 0.2em;
            }
        }
    }
}
@media screen and (min-width: $m_large){
    .about, .work, section.linkblog {
        float: left;
    }
    .about {
        width: 40%;
        padding-right: 6%;
    }
    .work {
        width: 35%;
        padding-right: 6%;
    }
    section.linkblog {
        width: 25%;
    }
}

//--- Posts ---//
.post {
    max-width: 700px;
    margin: 0 auto;
    & > h2 {
        font-size: 2em;
    }
}
