{% include header.html %}
<style>
@font-face {
	font-family: 'jr!handRegular';
	src: url('{{site.baseurl}}assets/fonts/jrHand/jr!ha___-webfont.eot');
	src: local('☺'), url('{{site.baseurl}}assets/fonts/jrHand/jr!ha___-webfont.woff') format('woff'), url('{{site.baseurl}}assets/fonts/jrHand/jr!ha___-webfont.ttf') format('truetype'), url('{{site.baseurl}}assets/fonts/jrHand/jr!ha___-webfont.svg#webfontCkXtjCv7') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {background:#fff;}
.header, .footer {background:#333;}
	.header a, .footer a {color:#fff;}
.legilimens {
	display: inline-block;
	font-size: 0.9em;
	opacity: 0.8;
	padding: 3px 10px 5px;
	border-radius: 4px;
}
.legilimens:hover, .legilimens:focus {
	opacity: 1;
	background: #eee;
}
.post {
	max-width:771px;
	text-align:center;
}
.paper .post {
	max-width: none;
}
.post .postHeader {
	font-size: 1.7em;
}
.postContent {
	text-align: left;
}
.postContent {
	font-size: 1.15em;
}
.paper .postContent {
	position: relative;
	background:url({{site.baseurl}}assets/images/countdown/countdownBgRepeat.jpg) repeat-y 0 290px;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	padding:60px 50px;
	font-family:'jr!handRegular',"Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	text-shadow:0 -1px 1px #DDD;
}
.paper .postContent:before {
	background-image:url({{site.baseurl}}assets/images/countdown/countdownBgTop.jpg);
	background-position: left top;
}
.paper .postContent:after {
	background-image:url({{site.baseurl}}assets/images/countdown/countdownBgBottom.jpg);
	background-position: left bottom;
}
.paper .postContent:before, .paper .postContent:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.paper .postContentInner {
	position: relative;
	z-index: 1;
}
.winter {
	max-width: 40%;
	margin: 0 0 2em 2em;
}
.paper .winter {
	margin:-10px -30px 1em 2em;
	transform: rotate(6deg);
	position: relative;
}
.paper .winter:before {
	background:url({{site.baseurl}}assets/images/countdown/paperclip.png) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
	content: '';
	position: absolute;
	right: -4px;
	top: 20px;
	width: 40px;
	height: 45px;
	z-index: 5;
}
.winter img {
	border: 3px solid #f9f9f9;
	box-shadow: 0 0 3px rgba(0,0,0,0.15);
}
@media (min-width: 600px){
	.paper .postContent {
		padding:120px 90px;
	}
	.paper .winter {
		margin-right: -65px;
	}
	.winter img {
		border-width: 6px;
	}
	.paper .winter:before {
		right: -9px;
		top: 70px;
		width: 69px;
	}
}
.geocities .postContent, .geocities .postContent:before, .geocities .postContent:after {
	background: none;
	padding: 0;
}
.geocities .winter:before {
	display: none;
}
</style>
</head>
<body>
    {% include nav.html %}
	<main class="wrapper">
		<article class="post paper">
			<h2 class="postHeader">{{ page.title }}</h2>
			<div class="postContent">
				<div class="postContentInner">
					<div class="winter alignright">
						<img src="{{site.baseurl}}assets/images/countdown/winter.jpg" height="534" width="400" alt="Countdown in winter" title="Now is the winter of our discontent" />
					</div>
					{{ content }}
				</div>
			</div>
			<p class="meta">Published {{ page.date | date_to_string }}</p>
		</article>
	</main>
{% include footerJS.html %}
<script>
$(function() {
	var $legilimens = $('<a>',{
		'href': '#',
		'title': 'Increase text legibility',
		'class': 'legilimens',
		'role': 'button',
		'text': 'Increase text legibility'
	}).on('click',function(e){
		e.preventDefault();
		$('.post').toggleClass('paper');
		$(this).text(function(i,d){
			var t = ['Increase text legibility', 'Reset text legibility'];
			return d===t[0] ? t[1] : t[0];
		});
	});
	$('.postHeader').after( $legilimens );
});
</script>
{% include footer.html %}
